<template>
  <div class="tichet-cheeps">
    <div class="box" v-for="(item, key) in data" :key="key">
      <v-radio-group @change="changeMonth()" hide-details v-model="inputRadio">
        <v-radio active-class="active-cheeps" :value="item.value">
          <template v-slot:label>
            <v-chip outlined class="ma-2">
              {{ item.title }}
            </v-chip>
          </template>
        </v-radio>
      </v-radio-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "Cheep",
  props: {
    data: {
      type: Array
    }
  },
  data() {
    return {
      inputRadio: 0
    }
  },
  methods: {
      changeMonth() {
        this.$emit("changeMonth", this.inputRadio);
      }
  }
};
</script>

<style scoped>
.tichet-cheeps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
/deep/.v-input--selection-controls__input {
  display: none;
}
.box .active-cheeps /deep/.theme--light.v-chip.v-chip--outlined {
  background-color: #144CF7!important;
  color: #ffffff;
}
</style>
