<template>
  <v-app>
    <v-content>
      <Cheep :data="cheepData" @changeMonth="searchByMonth($event)"/>
    </v-content>
  </v-app>
</template>

<script>
import Cheep from "./components/cheeps/Cheep";

export default {
  name: "App",

  components: {
    Cheep
  },
  data: () => ({
    cheepData: [
      {
        title: "Январь",
        value: "1"
      },
      {
        title: "Февраль",
        value: "2"
      },
      {
        title: "Март",
        value: "3"
      },
      {
        title: "Апрель",
        value: "4"
      },
      {
        title: "Май",
        value: "5"
      },
      {
        title: "Июнь",
        value: "6"
      }
    ]
  }),
  methods: {
    searchByMonth(event) {
      // search by entered month;
      alert(event);
    }
  }
};
</script>
